<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DlServlet</servlet-name>
    <servlet-class>DlServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PdServlet</servlet-name>
    <servlet-class>PdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OutServlet</servlet-name>
    <servlet-class>OutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InServlet</servlet-name>
    <servlet-class>InServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>sbServlet</servlet-name>
    <servlet-class>sbServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CgServlet</servlet-name>
    <servlet-class>CgServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>DlServlet</servlet-name>
    <url-pattern>/dl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdServlet</servlet-name>
    <url-pattern>/pd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutServlet</servlet-name>
    <url-pattern>/out</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InServlet</servlet-name>
    <url-pattern>/in</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sbServlet</servlet-name>
    <url-pattern>/sb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CgServlet</servlet-name>
    <url-pattern>/cg</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
